{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <h1 class="site-title">{{ site_title }} <i class="fa fa-rocket" aria-hidden="true"></i></h1>
    <h3 class="slogan">Coller n'importe quel lien de vidéo pour la lire</h3>


    <div class="form-response">
        {{ app.session.get('form_message') }}
    </div>
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}