{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}

    {# Include menu #}
    {{ include("AppBundle::includes/menu.html.twig") }}

    <h3 class="slogan margin-t-50 margin-b-20">Coller le lien de votre vidéo ci-dessous</h3>

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}