{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Play{% endblock %}

{% block body %}

    {# Include menu #}
    {{ include("AppBundle::includes/menu.html.twig") }}

    <div class="container wait-container margin-t-50">
        <div class="blue-dark-bg">
            <p>Lecture de la vidéo {{ stream.name }}</p>

            <video id="my-video" class="video-js" controls preload="auto" height="auto" data-setup="{}">
                <source src="{{ download_dir }}/{{ stream.path }}" type='video/mp4'>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </div>

    <div class="container play-container margin-t-50">
    </div>
{% endblock %}