{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Connexion{% endblock %}

{% block body %}

    {# Include menu #}
    {{ include("AppBundle::includes/menu.html.twig") }}

    <h1 class="page-title margin-b-20 margin-t-50">Connexion</h1>

    <div class="container">
        <form action="{{ path('user_login_check') }}" name="user_type_login" method="post">

            {# S'il y a une erreur, on l'affiche dans un joli cadre #}
            {% if error %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert-rv alert-rv-danger"><i class="fa fa-times" aria-hidden="true"></i> {{ error.message }}</div>
                </div>
            {% endif %}

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="input-rv"  placeholder="Nom d'utilisateur / E-mail">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="password" id="password" name="_password" class="input-rv" placeholder="Mot de passe">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="submit" class="btn-rv btn-rv-default" value="Connexion" >
            </div>
        </form>

    </div>
{% endblock %}