{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Modifier une vidéo{% endblock %}

{% block body %}

    {# Include menu #}
    {{ include("AppBundle::includes/menu.html.twig") }}

    <h1 class="page-title margin-b-20 margin-t-50">Modifier une vidéo</h1>

    <div class="container">
        {% spaceless %}
            {{ form_start(form, { 'attr': { 'class': 'update-stream-form' }}) }}
            {{ form_errors(form) }}

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ form_row(form.name) }}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ form_row(form.save) }}
            </div>

            {{ form_end(form) }}
        {% endspaceless %}
    </div>

    <div class="container margin-t-100 align-center">
        <a href="{{ path('app_play', { 'id': stream.id }) }}" class="btn-rv btn-rv-default btn-play-video" title="Voir"><i class="fa fa-play" aria-hidden="true"></i></a>
    </div>
{% endblock %}